@import "~vue-select/dist/vue-select.css";

.searchable-belongs-to-filter {
  background-color: #fff;
}

.searchable-belongs-to-filter .vs__selected {
  background-color: #4099de;
  color: #fff;
}

.searchable-belongs-to-filter .vs__deselect > svg {
  fill: #fff;
}

.searchable-belongs-to-filter.vs--not-empty:not(.vs--open):not(.vs--loading) {
  .vs__search {
    display: none;
  }
}

.searchable-belongs-to-filter.vs--not-empty.vs--open {
  .vs__selected {
    display: none;
  }
}

.vs__dropdown-menu {
  width: min-content !important;
}

.vs__dropdown-menu .vs__dropdown-option--highlight {
  background: #4099de;
}

.vs__dropdown-menu .vs__dropdown-option--selected {
  display: none;
}
